/**
 * Float Layout Activity
 **/

* {
	box-sizing: border-box;
	text-align: center;
}

body {
}

header {
	padding: 10px;
	color: #333;
	background: #ccc;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav{
	padding: 10px;
	color: #333
	background: #ccc;
	background-color: white;
	margin-top: 10px;
  	margin-bottom: 10px;
}

section {
	
	text-align: center;
	float: left;
	width: 49%;
	background-color: white;
	padding-top: 20px;
	color: gray;
	margin-bottom: 10px;
}

article{
	background-color: gray;
	color: white;
	margin: 10px;
	height: 30%;
	padding-top: 10px;
	padding-bottom: 0px;
}
article div {
	background-color: white;
	color: gray;
	padding: 10px 10px 10px 10px;
	margin: 10px;
}

p{
	background-color: white;
	color: gray;
	padding: 10px 10px 10px 10px;
	margin: 10px;
}

aside {
	width: 49%;
	float: right;
	background-color: white;
	color: gray;
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 155px;
}

footer {
	text-align: center;
	background-color: white;
	color: gray;
	padding-bottom: 20px;
	padding-top: 20px; 
	width: 100%;
	display: inline-block;
}